---
import Logo from "@/components/Logo.astro";
import { IoSearch } from "react-icons/io5";
---

<header class="header pt-6">
  <nav class="navbar container flex items-center">
    <!-- logo -->
    <div class="order-0">
      <Logo />
    </div>

    <!-- search -->
    <div class="order-1 ml-auto flex">
      <a
        class="inline-block cursor-pointer p-2 text-xl text-dark transition hover:text-primary"
        href="/search"
        title="buscar"
        aria-label="buscar"
      >
        <IoSearch />
      </a>
    </div>
  </nav>
</header>